body {
    background: #eee;
    font-family: Arial;
    margin: 20px;
}

h2 {
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #bbb;
    padding: 10px;
    text-align: center;
}

.btn {
    padding: 6px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.tambah { background: green; }
.edit { background: orange; }
.hapus { background: red; border: none; cursor: pointer; }
.back { background: gray; }